
.invalid {
    -fx-border-color: red ;  
    -fx-border-width: 2px ;  
}

.noZona {
    -fx-text-fill: red!important;
}

.invalidRow {
    -fx-border-color: red ;  
    -fx-background-color: #EDB9B9;

}
